button{
    background-color: green;
    color: white;
    padding: 5px 15px 5px 15px;
    border: 1px solid green;
    border-radius: 3px;
    transition: box-shadow 0.15s ;
}
button:hover{
    box-shadow: 5px 5px 5px rgba(0,0,0,0.2);
}
button:active{
    padding: 5px 10px 4px 13px;
    box-shadow: 0 0 0;
}